body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsla(113, 0%, 8%, 1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h3
{
    color: #ff8c00;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos del menú */
}

nav ul li {
    margin-right: 20px;
    font-weight: bold; /* Texto en negrita */
}

nav ul li a {
    text-decoration: none;
    color: #ff8c00; /* Color naranja */
    font-weight: bold; /* Texto en negrita */
}

nav ul li:hover {
    text-decoration: underline; /* Subrayado en hover */
}

nav ul li#cart-icon {
    margin-left: auto; /* Mueve el ícono del carrito a la derecha */
    cursor: pointer;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para las tarjetas de productos y el carrito de compras */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    position: relative;
    width: 250px;
    height: 400px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease;
    background-position: center;
    background-size: cover;
}

.product-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.9) 100%);
    transform: scale(0);
    transform-origin: center;
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.product-card:hover::before {
    transform: scale(2);
    opacity: 100;
}

.product-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.product-card:hover .product-text {
    opacity: 1;
    transform: translateY(0);
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-container {
    position: fixed;
    top: 10px;
    right: 50px;
    background-color: #333; /* Fondo más oscuro */
    color: #ff8c00; /* Texto naranja */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.cart-container.show {
    display: block;
}

.cart-item {
    margin-bottom: 5px;
}

#cart-summary {
    margin-top: 10px;
    text-align: right;
}

#cart-total {
    font-weight: bold;
    color: #ff8c00; /* Texto naranja */
}

/* Estilos para la barra de búsqueda */
nav #search-container {
    display: flex;
    align-items: center;
}

nav input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

nav #search-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff8c00; /* Color naranja */
    color: #fff; /* Texto blanco */
}
