body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0
}

/* Estilos para las tarjetas de productos y el carrito de compras */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    position: relative;
    width: 250px;
    height: 400px; /* Ajusta la altura según tus necesidades */
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    background: url('producto-placeholder.jpg') center/cover no-repeat; /* Cambia 'producto-placeholder.jpg' por la ruta de tu imagen de fondo */
    transition: 0.3s ease;
}

.product-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    opacity: 0;
    transition: 0.3s ease;
}

.product-card:hover::before {
    opacity: 1;
}

.product-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.product-card:hover .product-text {
    opacity: 1;
    transform: translateY(0);
}
