*
{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}

body
{

    height: 1000px;
    width: 100%;
    background: #1c1d22;

}

h1
{
    
    color: white;
    font-size: 30px;
    place-items: center; 


    display: flex;
    justify-content: center;

    
}

.CenterBox
{

    width: 90%;
    background: hsla(230, 100%, 68%, 0.2);

    position: absolute;
    left: 5%;
    top: 20px;
    border-radius: 10px;
    height: 10vh;
    text-align:center;

}

.CenterBoxText
{

    background: hsla(230, 100%, 68%, 0.2);
    color: white;

    position: absolute;
    top: 20%;
    left: 5%;

    width: 90%;
    height: 70vh;
    border-radius: 10px;

    text-align: center;

}

.C1
{

    position: relative;
    top: 10%;

}

/* caja para mover el texto al centro
.S1
{

    font-size: 30px;
    position: relative;
    top: 20px;

}
*/

/* caja para mover el texto a la izquierda*/
.S1
{

    top: 20px;
    position: relative;
    left: 2%;
    width: 50%;


}

.Text
{

    font-size: 20px;

}