* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body
{
    background: #1c1d22;
    height: 2000px;
}

    @media screen and (min-width: 1080px) {


#container {

    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    background-image: url("assets/Fotoinicio.jpg");
    background-color: hsla(230, 10%, 12%, 1 );
}

.Wallpaper
{

    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 100vw;

}

#circle {
    height: 650px;
    width: 650px;
    border-radius: 100px;
    background: hsla(230, 100%, 68%, 1);
    position: absolute;
    top: -200px;
    right: -175px;
    transform: rotateZ(45deg);
}

#circle2 {
    height: 700px;
    width: 700px;
    border-radius: 100px;
    background: hsla(230, 100%, 68%, 0.10);
}

#navbar {
    height: 60px;
    width: auto;
    position: absolute;
    left: 25px;
    top: 25px;
}

#navbar ul {
    height: 60px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    height: 60px;
    width: 130px;
    margin: 0 10px;
    display: grid;
    place-items: center;
    border-radius: 90px;
    transition: 0.5s;
}

#navbar ul li:hover {
    border: 2px solid hsla(230, 100%, 68%, 1);
}

#navbar ul li a {
    text-decoration: none;
    color: hsla(230, 100%, 68%, 1);
    font-size: 20px;
}

#navbar ul .active {
    border: 2px solid hsla(230, 100%, 56%, 1);
    background-color: hsla(37, 100%, 45%, 1);

    transition: 0.5s;
}

#navbar ul .active a {
    font-size: 20px;
    color: hsla(230, 10%, 12%, 1);
}

#navbar ul:hover .active {
    border: none;
}

#navbar ul .active:hover {
    border: 2px solid hsla(37, 100%, 40%, 1);
    background-color: hsla(230, 100%, 56%, 1);
}

#navbar ul .inicio:hover 
{

    border:2px solid hsla(37, 100%, 40%, 1);

}

#navbar ul .Font
{

    font-size: 25px;

}


#aSide {

    height: 800px;
    width: 700px;
    position: absolute;
    top: -200px;
    right: -140px;

    display: grid;
    place-items: center;
    filter: drop-shadow(-40px -40px 4px rgba(0, 0, 0, 0.4));
    transition: 2s;
    cursor: pointer;
}

#aSide img {
    
    
    position: absolute;

    
    
}

#aSide:hover {
    transition: 2s;
    cursor: pointer;
    filter: drop-shadow(40px 40px 4px rgba(0, 0, 0, 0.4));
}

.pols
{
    top: 33%;
    transform: rotateZ(45deg);
    height: 400px;

    z-index: 4;
}

.Pol1
{   
    position: relative;
    z-index: 2;
    left: 37.5%;
    top:37.5%;
    transform: rotateZ(23deg);
    width: 185px;
        

}

#content {
    height: 410px;
    width: 720px;
    position: absolute;
    top: calc(50% - 200px);
    left: 3%;
     
}

#content h2 {
    font-size: 12vh;
    line-height: 100px;
    color: hsla(37, 100%, 53%, 1);
    /*
    color: hsla(230, 100%, 68%, 1);
    */
}

#content h2 b {
    font-size: 10vh;
    color: #b9b9bb;
}

#content p {
    font-size: 20px;
    color: #b9b9bb;
}

#content button {
    height: 70px;
    width: 190px;
    border-radius: 90px;
    margin: 30px 0 0 0;
    border: 2px solid hsla(230, 100%, 68%, 1);
    outline: none;
    background: transparent;
    color: hsla(230, 100%, 68%, 1);
    font-size: 22px;
    cursor: pointer;
    font-weight: 800;
    transition: 0.5s;
    text-decoration: none;
}

#content button:hover {
    background: hsla(230, 100%, 68%, 1);
    color: #1c1d22;
}

#socialIcons {
    height: 80px;
    width: 800px;
    border-radius: 90px 90px 0 0;
    position: absolute;
    left: 20%;
    bottom: 0;
    border: 2px solid hsla(230, 100%, 68%, 1);
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#socialIcons i {
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 25px;
    margin: 0 35px;
    color: #fed104;
    cursor: pointer;
}

#socialIcons i:hover {
    background: hsla(230, 100%, 68%, 1);
    color: #1c1d22;
}
    
.lineaje
{

     border: 1px solid hsla(230, 100%, 68%, 1);
}

/* inicio de zona de texto */

.inform1
{

    color: white;
    left:5%;
    top: 4%;
    position: relative;
    border: 1px solid white;

    width: 50%;
    height: 500px;


}

.inform1 h1
{

    position: relative;
    top: 5%;
    left: 45%;

}

.inform1 p
{
    position: relative;
    top: 7.5%;
    left: 5%;

    padding-right: 6%;
    font-size: 20px;
    
}

.inform1 ul
{

    list-style: none;
    display: flex;
    flex-direction: column;

}

.inform1 ul li 
{
    height: 60px;
    width: 130px;
    margin: 0 10px;
    display: inline-flex;
    place-items: center;
    border-radius: 90px;
    transition: 0.5s;
}