* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #1c1d22;
}

#circle {
    height: 900px;
    width: 900px;
    border-radius: 100px;
    background: hsla(151, 100%, 50%, 1);
    position: absolute;
    top: -200px;
    right: -100px;
    transform: rotateZ(45deg);
}

#circle2 {
    height: 1000px;
    width: 1000px;
    border-radius: 100px;
    background: hsla(151, 100%, 42%, 0.46);
}

#navbar {
    height: 60px;
    width: auto;
    position: absolute;
    left: 45px;
    top: 25px;
}

#navbar ul {
    height: 60px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    height: 60px;
    width: 130px;
    margin: 0 30px;
    display: grid;
    place-items: center;
    border-radius: 90px;
    transition: 0.5s;
}

#navbar ul li:hover {
    border: 2px solid hsla(151, 100%, 50%, 1);
}

#navbar ul li a {
    text-decoration: none;
    color: hsla(151, 100%, 50%, 1);
    font-size: 23px;
}

#navbar ul .active {
    border: 2px solid hsla(151, 100%, 50%, 1);
    transition: 0.5s;
}

#navbar ul .active a {
    font-size: 20px;
}

#navbar ul:hover .active {
    border: none;
}

#navbar ul .active:hover {
    border: 2px solid hsla(151, 100%, 34%, 1);
}

#aSide {
    height: 1000px;
    width: 1000px;
    position: absolute;
    top: -200px;
    right: -100px;
    transform: rotateZ(45deg);
    display: grid;
    place-items: center;
}

#aSide img {
    height: 650px;
    transform: rotateZ(10deg);
    position: absolute;
    top: 33%;
    filter: drop-shadow(-40px -40px 4px rgba(0, 0, 0, 0.4));
    transition: 2s;
    cursor: pointer;
}

#aSide img:hover {
    filter: drop-shadow(40px 40px 4px rgba(0, 0, 0, 0.4));
}

#content {
    height: 400px;
    width: 600px;
    position: absolute;
    top: calc(50% - 200px);
    left: 7%;
}

#content h2 {
    font-size: 150px;
    line-height: 120px;
    color: hsla(151, 100%, 50%, 1);
}

#content h2 b {
    font-size:50px;
    color: #b9b9bb;
}

#content p {
    font-size: 20px;
    color: #b9b9bb;
}

#content button {
    height: 70px;
    width: 190px;
    border-radius: 90px;
    margin: 30px 0 0 0;
    border: 2px solid hsla(151, 100%, 50%, 1);
    outline: none;
    background: transparent;
    color: hsla(151, 100%, 50%, 1);
    font-size: 22px;
    cursor: pointer;
    font-weight: 800;
    transition: 0.5s;
}

#content button:hover {
    background: hsla(151, 100%, 50%, 1);
    color: #1c1d22;
}

#socialIcons {
    height: 80px;
    width: 800px;
    border-radius: 90px 90px 0 0;
    position: absolute;
    left: 20%;
    bottom: 0;
    border: 2px solid hsla(151, 100%, 50%, 1);
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#socialIcons i {
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 25px;
    margin: 0 35px;
    color: #fed104;
    cursor: pointer;
}

#socialIcons i:hover {
    background: hsla(151, 100%, 50%, 1);
    color: #1c1d22;
}
